@page
@model RideService.Web.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<form action="Search" method="get">
    <input name="nameQuery" size="20" placeholder="Indtast forstylsesnavn her..."/>
    <select name="CategoryQuery">
        @foreach(RideCategory category in Model.Categories)
         {
            <option value="@category.Id">@category.Name</option>
         }
    </select>
    <select name="StatusQuery">
        <option value="@((int)Status.Working)">Kører</option>
        <option value="@((int)Status.Broken)">Ude af drift</option>
        <option value="@((int)Status.BeingRepaired)">Under reperation</option>
    </select>
    <button>Submit</button>
</form>
@{
    foreach (Ride ride in Model.AllRides)
    {
        <article>
            <h2>@ride.Name</h2>
            <hr />
            <x:a asp-page="ViewRide" asp-route-index="@(ride.Id)"><img src="/img/thumbnails/@(ride.Name).jpg" alt="@ride.Name" /></x:a>
            <h3>Status: @ride.GetStatus()</h3>
            <hr />
            <p>@ride.GetShortDescription()</p>
        </article>
    }
}