@page "{index}"
@model RideService.Web.Pages.ViewRideModel
@{
    ViewData["Title"] = "ViewRide";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Forlystelse</h1>
<img src="~/img/headers/@(Model.Ride.Name)-big.jpg" alt="@Model.Ride.Name" />
<br />
<p>Navn: @Model.Ride.Name</p>
<br />
<p>Categori: @Model.Ride.Category.Name</p>
<br />
<p>Beskrivelse: @Model.Ride.Description</p>
<br />
<p>Nedbrud i alt: @Model.Ride.GetTotalBreakdowns()</p>
<br />
<p>Dage siden sidste nedbrud: @Model.BreakdownsMessage</p>