@page "{index}"
@model RideService.Web.Pages.ViewRideModel
@{
    ViewData["Title"] = "ViewRide";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<article>
    <h2>Forlystelse</h2>
    <img src="/img/headers/@(Model.Ride.Name)-big.jpg" alt="@Model.Ride.Name" />
    <hr />
    <p>Navn: @Model.Ride.Name</p>
    <hr />
    <p>Categori: @Model.Ride.Category.Name</p>
    <hr />
    <p>Beskrivelse: @Model.Ride.Description</p>
    <hr />
    <p>Nedbrud i alt: @Model.Ride.GetTotalBreakdowns()</p>
    <hr />
    <p>Dage siden sidste nedbrud: @Model.BreakdownsMessage</p>
</article>
<article>
    <h2>Ny rapport</h2>
    <form method="post">
        @Html.AntiForgeryToken()
        <label>Status: </label>
        <select name="Report.Status">
            <option value="@((int)Status.Working)">Kører</option>
            <option value="@((int)Status.Broken)">Ude af drift</option>
            <option value="@((int)Status.BeingRepaired)">Under reperation</option>
        </select>
        <hr />
        <textarea name="Report.Notes" placeholder="Noter..." rows="30" cols="38"></textarea>
        <hr />
        <button>Indsend</button>
    </form>
</article>
@if (Model.Report != null)
{
    <article>
        <h2>Oprettet rapport</h2>
        <p>Status: @Model.Report.Status</p>
        <hr />
        <p>Oprettelsestidspunt: @Model.Report.ReportTime.ToLongTimeString()</p>
        <hr />
        <p>@Model.Report.Notes</p>
    </article>
}
else
{
    <article>
        <h2 style="color: rgba(0,0,0,0)"></h2>
        <p style="color: rgba(0,0,0,0)"></p>
    </article>
}
@foreach (Report report in Model.Ride.ReportsOrdered)
{
    <article>
        <h2>@report.ReportTime.ToString()</h2>
        <hr />
        <p>Status: @report.Status</p>
        <h3>Noter:</h3>
        <p>@report.Notes</p>
    </article>
}